<header class="header ">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 header-info">
        <a href="mailto:mrunaldhuri1999@gmail.com.com" class="mr-3">md@gmail.com.com</a>
        <span>Call at: +91 9820103040 </span>
      </div>
      <div class="header-buttons col-md-6 d-flex justify-content-end">
        <a class="btn btn-accent mr-3" href="/login.html">Signin</a>
        <a class="btn btn-accent " href="/register.html">SignUp</a>
      </div>
    </div>
  </div>
</header>